

/*웹폰트*/
/*kopub돋움*/
@font-face {
  font-family: 'KoPubDotumMedium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*페이북*/
@font-face {
  font-family: 'paybooc-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0;} 
ul{list-style: none;}
a{text-decoration: none; color: #231f20;}
body{
  font-family: 'KoPubDotumMedium';
  font-size: 15px;
  line-height: 23px;
  color: #231f20;
  min-width: 1320px;
}
img{display: block;}
.clearfix ::before, .clearfix ::after {display: block;, content:'';, clear: both;}


/*----------------------------------------------top------------------------------------------------*/
.top_inner{
  width: 1320px;
  height: 135px;
  margin: auto;
  position: relative;
}

.logo{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top_icon{
  float: right;
  margin: 45px 65px 0 0;
}

.top_icon li{
  float: left;
  padding-left: 23px;
}

.top_icon li a{
  display: block;
}

/*-------------------------------------------header------------------------------------------------*/
#header{
  width: 100%;
  height: 63px;
  background-color: #faf1e5;
}

.nav{
  width: 1140px;
  margin: auto;
}

.nav ul li{
  float: left;
  width: 228px;
  text-align: center;
  padding-top: 20px;
}

.nav li a{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.nav li:hover a{
  color: #f1b84a;
}

/*----------------------------bg1--------------------------*/
#bg1{
  margin: 0 auto;
  background: url(../images/sub_3/bg1.jpg) center center repeat-y fixed;
  background-size: cover;

}

/*-----------------------content1---------------------*/

#content1{
  width: 1320px;
  height: 687px;
  margin: auto;
}

#content1_inner{
  width: 1320px;
  height: 687px;
  margin: auto;
}

.banner_l{
  width: 660px;
  height: 687px;
  float: left;
}

.banner_r{
  width: 660px;
  height: 687px;
  float: right;
}



/*------------------------------content2--------------*/
#content2{
  width: 1320px;
  height: 2200px;
  background-color: rgba(21, 61, 46, 0.9);
  margin: auto;
}

#content2_inner{
  width: 1320px;
  height: 2122px;
}

.review{
  height: 1771px;
}

.con2_img{
  margin: auto;
  padding-top: 15px;
  width: 239px;
  height: 111px;
  box-sizing: border-box;
}

.title{
  text-align: center;
  margin: 90px 0 70px 0;
}

.title h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: #fff;
}

.review1, .review2, .review3, .review4{
  margin: 50px auto;
  width: 776px;
  height: 382px;
  background-color: #fff;
}

.review1_img, .review3_img{
  float: left;
  width: 388px;
  height: 393px;
}

.review2_img, .review4_img{
  float: right;
  width: 388px;
  height: 393px;
}

.review1_text, .review2_text, .review3_text, .review4_text{
  float: left;
  padding: 45px 15px;
  width: 388px;
  height: 393px;
  box-sizing: border-box;
  text-align: center;
}

.review1_text h3, .review2_text h3, .review3_text h3, .review4_text h3{
  font-family: 'paybooc-Light';
  font-size: 14px;
  color: gray;
  padding-bottom: 20px;
}

.review1_text h2, .review2_text h2, .review3_text h2, .review4_text h2{
  font-family: 'paybooc-Bold';
  font-size: 16px;
  padding-bottom: 20px;
}

.review1_text h4, .review2_text h4, .review3_text h4, .review4_text h4{
  font-size: 14px;
  padding: 20px 0;
}

.text_star{
  width: 140px;
  height: 25px;
  display: inline-block;
}

/*-----search-----*/
.search_box{
  width: 380px;
  height: 100px;
  margin: auto;
  position: relative;
}

.search{
  width: 380px;
  height: 40px;
  margin: 50px auto;
  border: #231f20 1px solid;
  position: relative;
}

.search img{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.search a{
  display: inline-block;
}
input{
  outline-style: none;
  border: none;
  width: 380px;
  height: 40px;
}

.link{
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  position: absolute;
  bottom: -20px;
  left: 135px;
}

.link:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
}

/*--------------------------------------------footer-----------------------------------------------*/
#footer{
  width: 100%;
  height: 63px;
  background-color: #faf1e5;
}

.footer_nav{
  width: 1320px;
  height: 63px;
  margin: auto;
}

.footer_nav ul{
  width: 660px;
}

.footer_nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.footer_nav li:hover a{
  color: #f1b84a;
}

.footer_inner{
  width: 1320px;
  height: 230px;
  margin: auto;
  padding-top: 20px;
}

/*----------------------------------------footer_inner_left----------------------------------------*/
.footer_inner_left{
  width: 660px;
  height: 150px;
  padding-left: 40px;
  float: left;
}

.footer_logo{
  display: inline-block;
  width: 182px;
  height: 62px;
}

.footer_text{
  width: 660px;
  float: left;
  font-size: 13px;
  line-height: 21px;
  padding-top: 20px;
}

.footer_link li{
  float: left;
}

.footer_link li a{
  display: inline-block;
}

.footer_link li:nth-child(6){
  padding-left: 8px;
}


/*----------footer_inner_right----------*/
.footer_inner_right{
  width: 500px;
  height: 150px;
  float: right;
  padding-right: 40px;
}

.cs{
  width: 170px;
  float: left;
}

.cs h3{
  width: 110px;
  font-size: 16px;
  font-weight: 600;
  background: url(../images/main/highlight_price.jpg) repeat-x left bottom;
}

.cs p, .bank p{
  padding-top: 10px;
  font-size: 13px;
  line-height: 20px;
}

.cs p.number, .bank p.bank_number{
  font-weight: bold;
  font-size: 15px;
}

.bank{
  width: 250px;
  float: right;
}

.bank h3{
  width: 90px;
  font-size: 16px;
  font-weight: 600;
  background: url(../images/main/highlight_price.jpg) repeat-x left bottom;
}

.bank_number{
  font-weight: bold;
  font-size: 15px;
  margin: 15px 0;
}


